/* Headlines */
@mixin headline($faktor) {
    font-size: 1rem * $faktor;
    line-height: $faktor * 1.25;
    font-weight: 400;
    outline: 1px solid black;
}

h1 {
    @include headline(2.25);
}

h2 {
    @include headline(2);
}

h3 {
    @include headline(1.75);

}

h4 {
    @include headline(1.5);
}

h5 {
    @include headline(1.25);
}

h6 {
    @include headline(1);
}

p{
    font-size: 1rem;
    line-height: 1.6;
    letter-spacing: .05rem;
}